DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
CORS_ALLOWED_ORIGINS=http://localhost,http://127.0.0.1
SECRET=django-insecure-u1c-n2k%7y7t)odfghdrtyj54uy845y8904u5y98e385gheghs7vb0aw74tgjiogbdsf234rf34fwef
USE_X_FORWARDED_HOST=False
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
DATA_UPLOAD_MAX_NUMBER_FIELDS=100
PREFIX_PATH=
# Настройка ssl
SECURE_PROXY_SSL_HEADER=False
CSRF_COOKIE_SECURE=False

# Ограничение запросов к API
THROTTLE_RATE_ANON=5000/day
THROTTLE_RATE_USER=20000/day

gunicorn_timeout=300
gunicorn_workers=4
gunicorn_bind=0.0.0.0:8000
gunicorn_reolad=True

DB_DRIVER=django.db.backends.postgresql
#DB_HOST=127.0.0.1
DB_NAME=quiz
DB_USER=admin
DB_PASSWORD=password
DB_PORT=5432

ACCESS_TOKEN_LIFETIME=3
REFRESH_TOKEN_LIFETIME=15

DOMAIN=http://127.0.0.1
