.venv
venv
.vscode
db.sqlite3
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/migrations/0*
/media
/static
.env
.env_db
.env_local
.env_db_local
.env-local
.env_db-local
docker-compose_*.yaml
docker-compose-*.yaml

